.header {
  width: 100vw;
  position: relative;
  height: Calc(100vw / 1.95);
  background: url("./../public/images/_bgc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  height: 100px;
}


.navbar {
  background: #b5abb1;

  &.dark {
    background: #f8f8f8;;

    .link-item {
      color: #696969;

      &:hover {
        letter-spacing: 2px;
        color: black;
      }
    }
  }
}

.link-item {
  padding: 1rem;
  font-size: 1.125rem;
  color: white;
  transition: .4s;
  letter-spacing: 2px;

  &:hover {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;

  }
}


.btn {
  display: block;
  border-radius: 0;
  width: 200px;
  padding: 1rem;
  background: none;
  color: dimgrey;
  border: 2px solid dimgrey;
  transition: .3s;

  &:hover {
    background: dimgrey;
    color: $light-pink;
  }
}

.menu-icon-wrapper {

  z-index: 999;
  .menu-icon {
  margin:1rem;
  }
}

.mobile-menu{
  z-index: 998;
  transition: 1s;
  transform: translateY(-93%);

  &.active{
    background: black;
    transform: translateY(0);
  }
  width: 100vw;
  height: 100vh;
  position: fixed;
 background: rgba(255,255,255,0.9);
}

.menu-icon{
  &.active span{
    background: white none repeat scroll 0% 0% !important;

  }
}