
.card-image-res{
  max-height: 300px !important;
}
@media(max-width: 1200px) {
  .card-image-res{
    max-height: none !important;
  }
  .header {
    width: 100vw;
    position: relative;
    height: 80vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo{
    height: 50px;
  }
}

@media (max-width: 576px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1400px) {

}