section {
 position: relative;
 width: 100%;
 height: 100%;
}
section::after {
 position: absolute;
 bottom: 0;
 left: 0;
 content: "";
 width: 100%;
 height: 80%;
}


.demo a {
 position: absolute;
 bottom: 10%;
 left: 50%;
 z-index: 2;
 display: inline-block;
 transform: translate(-50%, -50%);
 color: #fff !important;
 font: normal 400 20px/1 "Josefin Sans", sans-serif;
 letter-spacing: 0.1em;
 text-decoration: none;
 transition: opacity 0.3s;
}
.demo a:hover {
 opacity: 0.5;
 cursor: pointer;
}


#scroll-btn-section a {
 padding-top: 80px;
}
#scroll-btn-section a span {
 position: absolute;
 top: 0;
 left: 50%;
 width: 24px;
 height: 24px;
 margin-left: -12px;
 border-left: 1px solid #fff;
 border-bottom: 1px solid #fff;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
 -webkit-animation: sdb07 2s infinite;
 animation: sdb07 2s infinite;
 opacity: 0;
 box-sizing: border-box;
}
#scroll-btn-section a span:nth-of-type(1) {
 -webkit-animation-delay: 0s;
 animation-delay: 0s;
}
#scroll-btn-section a span:nth-of-type(2) {
 top: 16px;
 -webkit-animation-delay: 0.15s;
 animation-delay: 0.15s;
}
#scroll-btn-section a span:nth-of-type(3) {
 top: 32px;
 -webkit-animation-delay: 0.3s;
 animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}
@keyframes sdb07 {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}


